<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quakereport">
    <!--app's rights-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Activity for define the settings of the app -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title">
            <!--Quake activity is the parent of settings activity, need it for back button-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quakereport.QuakeActivity" />
        </activity>

        <!-- Main activity -->
        <activity android:name=".QuakeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>